#root {
  width: 100%;
  padding: 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

h3 {
  position: fixed;
  top: -1em;
  padding: .5em 1em;
  right: 0;
  background: #131212;
  text-align: right;
}

